<app-navbar></app-navbar>

<div class="container">
    <div class="left">
      <h1>Prenez Rendez-vous</h1>
      <p>Basé en Tunis, un cabinet de recrutement en ligne pour les métiers web. Nous vous proposons aussi des solutions complètes sur l'externalisation de la paie: Contactez-nous dès maintenant pour en savoir plus.</p>
      <div class="contact-info">
        <i class="fas fa-phone-alt"></i>
        <p>Mobile</p>
        <p>+33786652567</p>
      </div>
      <div class="contact-info">
        <i class="fas fa-envelope"></i>
        <p>E-mail</p>
        <p>contactwegestu.com</p>
      </div>
      <div class="social-media">
        <i class="fab fa-linkedin-in"></i>
        <p>Linkedin</p>
        <p>Suivez-nous</p>
      </div>
    </div>
    <div class="right">
      <form class="form">
        <input type="text" placeholder="Votre nom" required>
        <input type="email" placeholder="Adresse e-mail" required>
        <textarea placeholder="Objet" required></textarea>
        <textarea placeholder="Message" required></textarea>
        <button type="submit">ENVOYER</button>
      </form>
    </div>
  </div>
  <app-footer></app-footer>
