<app-navbar></app-navbar>
<div class="container">
  <div class="photo">
      <img src="4151017.jpg" alt="Description of photo">
  </div>
  <div class="text">
      <h1>Votre Plateforme de "Recrutement En Ligne"</h1>
      <p>Plateforme «  » , est une plateforme de recrutement en ligne dédiée pour les métiers IT.

        Elle facilite la gestion des processus de candidature en ligne pour les recruteurs et les chercheurs d’emploi, en leur permettant de trier rapidement les données et de gérer les tâches de manière efficace.</p>
        <p-button label="CONDIDATURE" [text]="true" [raised]="true" severity="info" />

      </div>

</div>
<app-footer></app-footer>
