<app-navbar></app-navbar>
<div class="container">
 
  <div class="text">
      <h1>VFini les tableurs ! Fini les e-mails !</h1>
      <p>Optez pour la meilleure façon de gérer l'ensemble de votre recrutement en ligne !
        We Gest U Plateforme dispose d'une CVthèque complète de talents IT difficiles à dénicher, vous permettant d'accéder même aux compétences les plus spécialisées dans le secteur Informatique. Notre plateforme de recrutement en ligne conviviale vous simplifie le processus de recrutement et vous permet de trouver rapidement le candidat idéal pour votre entreprise.</p>
        <p-button label="CONDIDATURE" [text]="true" [raised]="true" severity="info" />

      </div>
      <div class="photo">
        <img src="characters-looking-job.jpg" alt="Description of photo">
    </div>

</div>
<app-footer></app-footer>
